{% extends "base.html" %}

{% block body %}
<div class="container">
    <h2>{{ activity.name }}</h2>
    <p>{{ activity.activity_type }} • {{ activity.distance_m / 1000 }} km</p>

    <!-- Leaflet CSS/JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://unpkg.com/@mapbox/polyline@1.1.1/src/polyline.js"></script>

    <div id="map" style="height: 400px; border-radius: 10px;"></div>
</div>

<!-- making map -->

<script>
    const encoded = "{{ activity.polyline }}";

    if (encoded) {
        const coords = polyline.decode(encoded);
        const map = L.map('map').setView(coords[0], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
        const route = L.polyline(coords, { color: '#fc4c02', weight: 3 }).addTo(map);

        map.fitBounds(route.getBounds());
    }
</script>
{% endblock %}