{% extends "base.html" %}

{% block extra_css %}
{% endblock %}

{% block content %}

<div class="container" style="max-width: 400px; margin: 100px auto;">
    <h1 class="auth-heading">Welcome to the login page</h1>
    <h3 class="auth-subheading">Please enter your details below to login</h3>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <!-- Login fields-->
    <form id="auth-form" action="{{url_for('auth.login')}}" method="POST">
        <h3 style="margin-top: 8px;"> </h3>
        <input type="text" name="username" placeholder="Username" class="input-field" required />
        <input type="password" name="password" placeholder="Password" class="input-field" required />
        <input type="submit" value="Login" class = "btn-login" />
        <a href="/register">Don't have an account? Register</a>
    </form>
</div>

{% endblock %}