{% extends "base.html" %}

{% block body %}

<div class="container">
    <h1>Welcome to the register page</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form action="{{ url_for('register') }}" method="POST">
        <input type="email" name="email" placeholder="Email" class="input-field" />
        <input type="text" name="username" placeholder="Username" class="input-field" />
        <input type="password" name="password" placeholder="Password" class="input-field" />
        <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-field" />
        <input type="tel" name="phone" placeholder="Phone Number" class="input-field" />
        <button type="submit">TEST REGISTER</button>
        <a href="/">Already have an account? Login</a>
    </form>
</div>

{% endblock %}